[MAIN]
ignored-modules=PySide2
extension-pkg-whitelist=PySide2

[MASTER]
init-hook="import sys; sys.path.append('./statapp')"
ignore-patterns=ui_.+\.py

[BASIC]
attr-rgx=^_?[a-z][a-zA-Z0-9]+$|^_?[a-z0-9]+$|^_?[a-z0-9]+(_[a-z0-9]+)*$             # camelCase, lowercase, snake_case
class-attribute-rgx=^_?[a-z][a-zA-Z0-9]+$|^_?[a-z0-9]+$|^_?[a-z0-9]+(_[a-z0-9]+)*$  # camelCase, lowercase
variable-rgx=^_?[a-z][a-zA-Z0-9]+$|^_?[a-z0-9]+$                                    # camelCase, lowercase
argument-rgx=^_?[a-z][a-zA-Z0-9]+$|^_?[a-z0-9]+$                                    # camelCase, lowercase
function-rgx=^_?[a-z][a-zA-Z0-9]+$                                                  # camelCase
method-rgx=^_?[a-z][a-zA-Z0-9]+$|^_?on_[a-z][a-zA-Z]+_[a-z][a-zA-Z]+|^__init__$     # camelCase, on_camelCaseWidget_camelCaseSignal and __init__

[SIMILARITIES]
min-similarity-lines=8

[MESSAGES CONTROL]
disable=
    unused-argument,
    fixme,
    missing-docstring,
    too-many-public-methods,
    too-few-public-methods,
    too-many-arguments
